<div class="container">
  <div class="jumbotron">
    <p class="flash"><%= notice %><%= alert%> </p>
  	<h1>今日1日頑張ったことを投稿しよう</h1>
  	<p>毎日おつかれさま！</p>
  	<p>日々の投稿をあとから振り返ることで、自分の頑張りの軌跡が見えて自信が持てるようになります</p>
    <p><a class="btn btn-primary btn-lg" href="./topics" role="button">スタート！</a></p>
  </div>
</div>


<footer>
  <p>このアプリはDIVE INTO CODEの課題です</p>
</footer>