<div class="container">
  <div class="jumbotron">
    <p class="flash"><%= notice %><%= alert%> </p>
  	<h1>Busaiku</h1>
  	<p>What a crazy face!</p>
  	<p>不細工ゆえに生まれてきた意味がわからない非リア人生を慰めあうSNS</p>
    <p><a class="btn btn-primary btn-lg" href="./topics" role="button">スタート！</a></p>
  </div>
</div>


<footer>
  <p>このアプリはDIVE INTO CODEの課題です</p>
</footer>