<p>こんにちは <%= @resource.email %>!</p>

<p>誰かがあなたのパスワードの変更リクエストを行いました。パスワードは下記リンクから設定できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがなければ破棄してください。</p>
<p>あなたのパスワードは、上記リンクにアクセスし新しいパスワードを作成するまで変わりません。</p>